/** Montserrat Thin **/
@font-face {
  font-family: "Montserrat";
  font-weight: 100;
  font-style: normal;
  src: url("assets/fonts/monserrat/montserrat-thin.woff2") format("woff2"),
    url("assets/fonts/monserrat/montserrat-thin.woff") format("woff"),
    url("assets/fonts/monserrat/montserrat-thin.ttf") format("truetype");
}

/** Montserrat ExtraLight **/
@font-face {
  font-family: "Montserrat";
  font-weight: 200;
  font-style: normal;
  src: url("assets/fonts/monserrat/montserrat-extralight.woff2") format("woff2"),
    url("assets/fonts/monserrat/montserrat-extralight.woff") format("woff"),
    url("assets/fonts/monserrat/montserrat-extralight.ttf") format("truetype");
}

/** Montserrat Light **/
@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("assets/fonts/monserrat/montserrat-light.woff2") format("woff2"),
    url("assets/fonts/monserrat/montserrat-light.woff") format("woff"),
    url("assets/fonts/monserrat/montserrat-light.ttf") format("truetype");
}

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("assets/fonts/monserrat/montserrat-regular.woff2") format("woff2"),
    url("assets/fonts/monserrat/montserrat-regular.woff") format("woff"),
    url("assets/fonts/monserrat/montserrat-regular.ttf") format("truetype");
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("assets/fonts/monserrat/montserrat-medium.woff2") format("woff2"),
    url("assets/fonts/monserrat/montserrat-medium.woff") format("woff"),
    url("assets/fonts/monserrat/montserrat-medium.ttf") format("truetype");
}

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("assets/fonts/monserrat/montserrat-semibold.woff2") format("woff2"),
    url("assets/fonts/monserrat/montserrat-semibold.woff") format("woff"),
    url("assets/fonts/monserrat/montserrat-semibold.ttf") format("truetype");
}

/** Montserrat Bold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("assets/fonts/monserrat/montserrat-bold.woff2") format("woff2"),
    url("assets/fonts/monserrat/montserrat-bold.woff") format("woff"),
    url("assets/fonts/monserrat/montserrat-bold.ttf") format("truetype");
}

/** Montserrat ExtraBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("assets/fonts/monserrat/montserrat-extrabold.woff2") format("woff2"),
    url("assets/fonts/monserrat/montserrat-extrabold.woff") format("woff"),
    url("assets/fonts/monserrat/montserrat-extrabold.ttf") format("truetype");
}

/** Montserrat Black **/
@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-style: normal;
  src: url("assets/fonts/monserrat/montserrat-black.woff2") format("woff2"),
    url("assets/fonts/monserrat/montserrat-black.woff") format("woff"),
    url("assets/fonts/monserrat/montserrat-black.ttf") format("truetype");
}
