$background: rgb(239, 248, 245);
$text: rgb(112, 112, 112);
$sidebar-hover: rgb(47, 199, 245);

$logo: rgb(59, 204, 246);
$link: rgb(111, 227, 255);

$input-border: rgb(195, 195, 195);

$font-family: "Montserrat", sans-serif;
