<div id="wrapper-form">

  <!-- background mask -->
  <div class="background">
    <div class="line"></div>
  </div>

  <div class="form-card">
    <div class="wrapper-logo">
      <img
        src="assets/images/logo.svg"
        height="108"
        alt="Expense Tracker Logo"
        class="logo"
      />
      <h1 class="name">Expense Tracker</h1>
    </div>

    <form action="">
      <div class="form-group">
        <input
          type="text"
          name="username"
          class="form-control input-text"
          id="username"
          autocomplete="username"
          placeholder="User"
        />
      </div>

      <div class="form-group">
        <input
          type="password"
          name="password"
          class="form-control input-text"
          id="password"
          autocomplete="password"
          placeholder="Password"
        />
      </div>

      <div class="form-group group-btn">
        <button type="button" id="btn-login" class="btn btn-primary">
          <span>Acceder</span>
        </button>
        <a href="" class="link">
          Create account
        </a>
      </div>
    </form>
  </div>
</div>
